
<div>
    <h1>Lista de Productos</h1>
    <ul>
        {{#each products}}
            <li>{{title}} - {{description}} - {{price}}</li>
        {{/each}}
    </ul>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
