<div>
  <h1>Lista de Productos en Tiempo Real</h1>
  <ul>
    {{#each products}}
      <li>
        {{title}} - {{description}} - {{price}} 
        <button onclick="deleteProduct('{{id}}')">Eliminar</button>
      </li>
    {{/each}}
  </ul>

  <form id="productForm">
    <input type="hidden" id="action" name="action" value="create">
    <input type="text" name="title" placeholder="Título">
    <input type="text" name="description" placeholder="Descripción">
    <input type="number" name="price" placeholder="Precio">
    <button type="submit">Agregar Producto</button>
  </form>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io()

    document.getElementById('productForm').addEventListener('submit', (event) => {
      event.preventDefault()
      const formData = new FormData(event.target)
      const productData = {}
      formData.forEach((value, key) => {
        productData[key] = value
      })

      const action = document.getElementById('action').value

      socket.emit(action === 'create' ? 'newProduct' : 'deleteProduct', productData)

      event.target.reset()
    })

    function deleteProduct(productId) {
      socket.emit('deleteProduct', { id: productId })
    }

    socket.on('updateProducts', (updatedProducts) => {
      console.log('Productos actualizados:', updatedProducts)
    })
  </script>
</div>
